html {
    color: #000080;
    background-color: #ffffff;
}

a:link {
    color: #800080;
}

a:visited {
    color: #FF0000;
}

.bold {
    font-weight: bold;
}

.sm-inc {
    font-size: .8em;
    display: inline;
}

.pad-t {
     padding-top: 1.3em;
}

.pad-b {
    padding-bottom: 1em;
}

.h-line {
    clear: both;
    border-top: 1px solid gray;
    margin-top: 1em;
}

/* ----------------------- */

.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.heading span {
    font-size: 2.0em;
}

.sm-caps {
    margin-left: -5px;
    font-size: 1.15em;
    display: inline;
}

.address {
    font-size: .80em;
}

/* ----------------------- */

.list {
    height: 27em;
    /*margin-bottom: 5em; */
    margin-left: 5%;
    margin-top: -1.8em;
}

.list li {
    list-style-type: disc;
    line-height: 2.8em;
    float: left;
    width: 50%;
}

.list span {
    display: block;
    font-size: .65em;
    margin-top: -25px;
}

/* ----------------------- */

.footing {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
}

.sm {
    font-size: .65em;
}

.sm span {
    font-weight: bold;
}

.footing span {
    font-size: 2.2em;
}

.comments {
    font-size: .81em;
}

